@import "tailwindcss";

.glow-box {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 5px;
  border-radius: 20px;
  /* background: #000000; */
  position: relative;
  overflow: hidden;
}

.glow-box::before {
  content: '';
  position: absolute;
  inset: 5px 5px 5px 5px;
  background: #016aff;
  border-radius: 5px;
  filter: blur(12px);
  z-index: 1;
}

.glow-box::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #97e0ff, #97e0ff);
  border-radius: 0px;
  z-index: 0;
}