.custom-cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, width 0.3s ease, height 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.custom-cursor.hovered {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}